<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="shortcut icon" type="image/png" href="static/img/mountain-range.png"/>
  <title>Peter Oas</title>

  <link href="static/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
  <link href="static/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="static/css/style.css" >

</head>

<body id="page-top">

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
      <span class="d-block d-lg-none">Peter Oas</span>
      <span class="d-none d-lg-block">
        <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="static/img/profile.jpg">
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#education">Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#interests">Interests</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
      <div class="w-100">
        <h1 class="mb-0">
          <span class="text-primary">Peter Oas</span>
        </h1>
        <div id='my_contact' class="subheading mb-5">(919) 358-0317 ·
          <a href="mailto:oas.peter@gmail.com">oas.peter@gmail.com</a>
        </div>
        <p id='intro_p' class="lead mb-5">Developer. Climber. Board Game Nerd.</p>
        <div class="social-icons">
          <a href="https://www.linkedin.com/in/peter-oas/" target="_blank">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a href='https://github.com/poas14' target="_blank">
            <i class="fab fa-github"></i>
          </a>
          </a>
        </div>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
      <div class="w-100">
        <h2 class="mb-5">Experience</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Full-Stack Development Student</h3>
            <div class="subheading mb-3">Momentum Learning</div>
              <ul>
                <li>Dedicated 13-weeks specializing in highly focused, immersive training centered on language fluency, object-oriented programming, and project-based learning.</li>
                <li>Built stylish and functional websites using HTML, CSS, Javascript, Vue.js, Python and Django, in addition to using Ajax and jQuery to build dynamic, interactive web pages.</li>
                <li>Built databases using Django and PostgreSQL and developed web API’s to access databases using the Django REST Framework.</li>
                <li>Experience with version control individually and in teams, using Git and Github</li>
              </ul>
            </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">November 2018 - January 2019</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Climbing Guide and Instructor</h3>
            <div class="subheading mb-3">Fox Mountain Guides</div>
            <ul>
              <li>Certified American Mountain Guides Association Single Pitch Instructor and Apprentice Rock Guide.</li>
              <li>Led hundreds of guided rock climbing trips across the Southeast, managing risk, instructing and guiding
clients through their objectives on routes ranging from 20 to 1200 feet.</li>
              <li>Instructed outdoor rock climbing courses, teaching climbing safety and skills to course participants.</li>
            </ul>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">April 2016 - October 2018</span>
          </div>
        </div>

    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
      <div class="w-100">
        <h2 class="mb-5">Education</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Momentum Learning</h3>
            <div class="subheading mb-3">Web Development</div>
            <div>Full Stack - Web Development Track</div>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">November 2018 - January 2019</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">University of North Carolina Asheville</h3>
            <div class="subheading mb-3">Bachelor of Arts</div>
            <div>Major in Cultural Anthropology</div>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">August 2012 - May 2016</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h3 class="mb-0">Durham School of the Arts</h3>
            <div class="subheading mb-3">High School</div>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">August 2008 - May 2012</span>
          </div>
        </div>

      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="portfolio">
      <div id='card-parent' class="w-100">
        <h2 class="mb-5">Portfolio</h2>
        <div class="row">
        <div class="col-sm-4">
        <div class='justify-content-center'>
          <div class="card mr-10 card shadow-lg hvr-grow" style="width: 18rem;">
            <img src="static/img/localgems.png" class="card-img-top" style:'width: 18rem; height: 18rem;'>
              <hr class="m-0">
            <div class="card-body">
              <h5 class="card-title">Localgems.io</h5>
              <p class="card-text">A Mobile Web App which acts a navigational tool, guiding the user to their destinaton using a custom compass.</p>
              <a href="https://www.localgems.io/" target="_blank" class="btn btn-primary">Visit this project</a>
              <a href="https://github.com/Teamalpha/Stumbl" target="_blank" class="btn btn-primary mt-2">View source code</a>
            </div>
          </div>
        </div>
      </div>
          <div class="col-sm-4">
          <div class="card card shadow hvr-grow" style="width: 18rem;">
            <img src="static/img/setgameimg.png" class="card-img-top" style:'width: 18rem; height: 18rem;'>
              <hr class="m-0">
            <div class="card-body" style:''>
              <h5 class="card-title">Set Game</h5>
              <p class="card-text">An online version of the card game set. Allows users to get hints and shows all the 'sets' on the board.</p>
              <a href="https://ancient-bayou-57152.herokuapp.com/" target="_blank" class="btn btn-primary">Visit this project</a>
              <a href="https://github.com/poas14/Set-Game" target="_blank" class="btn btn-primary mt-2">View source code</a>
            </div>
          </div>
            </div>
        <div class="col-sm-4">
          <div class="card shadow-lg hvr-grow" style="width: 18rem;">
            <img src="static/img/jimihendrix.png" class="card-img-top" style:'width: 18rem; height: 18rem;'>
              <hr class="m-0">
            <div class="card-body">
              <h5 class="card-title">iTunes Music Player</h5>
              <p class="card-text">An early project of mine to access the iTunes API and demonstrate my JS, jQuery, and Ajax skills.</p>
              <a href="https://guarded-plateau-52178.herokuapp.com/" target="_blank" class="btn btn-primary">Visit this project</a>
              <a href="https://github.com/momentum-cohort-2018-10/w6-itunes-search-poas14" target="_blank" class="btn btn-primary mt-2">View source code</a>
            </div>
          </div>
        </div>
      </div>



      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="interests">
      <div class="w-100">
        <h2 class="mb-5">Interests</h2>
        <img id='this_img' src="static/img/climbing_jtree.jpg" width="500" height="333">
        <p>Apart from being a web developer, my passions lie in nature. As a climber, I am drawn to the mountains. I have climbed all over the country, and some of my favorite climbing areas include Joshua Tree, Smith Rock, and Western North Carolina.</p>
        <p class="mb-2">
        I also enjoy rafting, whitewater kayaking, skiing, and backpacking, depending on the season. My favorite river to paddle is the French Broad, and the best day of skiing I've had was on a deep powder day at Squaw Valley.</p>
        <p class="mb-2">
        When I'm not outside, I am an avid board gamer, and enjoy the challenge of puzzles, problem solving, and logic. Some of my favorite games right now are Dominion, Settlers of Catan, Azul, Quest for El Dorado, Flashpoint, and Codenames, but this list is constantly changing!</p>
      </div>

    </section>

    <hr class="m-0">

    <hr class="m-0">

    

  </div>

  <script src="static/js/jquery.min.js"></script>
  <script src="static/js/bootstrap.bundle.min.js"></script>
  <script src='static/js/all.js'></script>
  <script src="static/js/jquery.easing.min.js"></script>
  <script src="static/js/resume.min.js"></script>

</body>

</html>
